<h1>Web 02's Page</h1>
<ul>
  <li>'Basics' Solutions</li>
  <ul>
    <li><%= link_to 'Problem set 1' , basics1_index_path %></li>
    <li><%= link_to 'Problem set 2', basics2_index_path %></li>
  </ul>
  <li><a href="#">Project Documentation</a></li>
</ul>
