<h1>Problem Set 1: Basics</h1>
<ol>
  <li>Divided by zero
    <ul>
      <li><%= link_to 'See Divided by zero', basics1_divide_by_zero_path %></li>
      <li>To show a stack trace : Must set true in "config.consider_all_requests_local" in production.rb file</li>
      <li>To log the error message "About to divide by 0" : put message to the log before x/0 and it will show in log/production.log</li>
    </ul>
  </li>
  <li><%= link_to 'Trending on Youtube', basics1_top_ten_youtube_path %></li>
</ol>
<p><%= link_to "Web 02's Page", home_index_path %></p>