<h1>Problem Set 2 Basics</h1>
<ol>
  <li><%= link_to 'Quotation', basics2_puresql_path %></li>
  <li><%= link_to 'pure SQL document', basics2_puresql_path %></li>
</ol>
<p><%= link_to "Web 02's Page", home_index_path %></p>