<!DOCTYPE html>
<html lang="th" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Problemset</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p style="position: absolute; right: 0;">
      <a href="http://validator.w3.org/check?uri=referer"><img width="88" height="31" alt="Valid XHTML 1.0!" src="http://www.w3.org/Icons/valid-xhtml10"/></a>
      <br>Benya and Parth.
    </p>
  </body>
</html>
